footer {
    width: 100%;
    position: fixed;
    bottom: 0px;

    /*================================================
        フッダーCSS
    =================================================*/

    #footer_menu {
        height: 10vmin;
        display: flex;
        align-items: center;
        color: #adadad;
        font-size: 17px;
        text-align: center;
    }

    .footer_fashion {
        width: 50%;
        height: 10vmin;
        background-color: #575757;
        line-height: 37px;
    }

    .footer_beauty {
        width: 50%;
        height: 10vmin;
        background-color: #31282c;
        line-height: 37px;
    }
}
