#header_wrap {
    width: 100%;
    background-color: #fff;
    padding: 2vmin 0 2vmin;
    position: fixed;
    top: 0;
    z-index: 5;

    #header_label {
        width: 15vmin;
        height: 16.3vmin;
        color: #fff;
        font-size: 2.9vmin;
        text-align: center;
        background-color: $header-ribbon-color;
        border-radius: 0 0 1.3vmin 1.3vmin;
        box-shadow: 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0px;
        right: 2vmin;
        z-index: 10;
        box-sizing: border-box;
        display: block;
        font-weight: 600;


        span {
            display: block;
            margin: 0 auto;
        }

        i {
            font-size: 9.7vmin;
            margin: 1vmin 0 1vmin;
        }
    }

    #header_label .label_push {
        width: 4.5vmin;
        height: 4.5vmin;
        color: #fff;
        font-size: 3.4vmin;
        text-align: center;
        background-color: #d90b0b;
        border-radius: 50%;
        position: absolute;
        top: 1vmin;
        right: -1.2vmin;
        padding-top: 0.72px;
    }

    .header_logo {
        width: auto;
        height: 14vmin;
        display: block;
        margin: 0 auto;
    }

    .back-arrow {
        width: 9vmin;
        height: 9vmin;
        border: 0.4vmin solid;
        border-color: $black $black transparent transparent;
        transform: rotate(225deg);
        position: absolute;
        left: 5vmin;
        top: 4.5vmin;
    }

}
