.component.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: $main-color;
    display: grid;
    grid-template-areas: "back logo crown";
    grid-template-columns: 1fr 5fr 1fr;
    -webkit-transform: translate3d(0, 0, 0);
    .back-button {
        grid-area: back;
        display: block;
        font-size: 6rem;
        margin: auto;
        color: $white-text-color;
    }
    .header-logo {
        margin: auto;
        grid-area: logo;
        img {
            width: 250px;
        }
    }

    .ribbon {
        grid-area: crown;
        background: $header-ribbon-color;
        width: 100px;
        height: 95px;
        text-align: center;
        box-shadow: $component-shadow;

        box-shadow: 5px 5px 15px -3px #babcbb;
        border-radius: 3px 3px 10px 10px ;

        .fa-crown {
            display: block;
            font-size: 5rem;
            margin: 10px auto 0;
            color: $white-text-color;
        }

    }

}
