.component.product{
    display: flex;
    text-decoration: none;
    margin: 3vmin 0 0;

    .link-container {
        height: 64.5vmin;
    }

    .product-img {
        width: 46.2vmin;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0%;
        border-radius: 1.3vmin;
        overflow: hidden;
    }

    .owner-area {
        width: 55%;
    }

    .product_number {
        width: 11.3vmin;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0.5vmin;

        &:before {
            counter-increment: product_number;
            content: counter(product_number);
            color: $black;
            font-size: 7.5vmin;
            // font-family: "Allura", cursive;
            font-family: "Playfair Display SC", cursive;
        }
    }
    .product-creator {
        background-color: rgba(255, 255, 255, 0.75);
        width: 46.2vmin;
        height: 13.5vmin;
        position: relative;
        bottom: 16.5vmin;
        padding: 0.5vmin 2.4vmin 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            text-decoration: none;
            color: $white-text-color;
        }

        .owner-subject {
            font-size: 3.1vmin;
            color: $text-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .owner-name {
            font-size: 3.9vmin;
            color: $text-color;
            font-weight: 600;
            width: 30vmin;
            overflow: hidden;
            white-space: nowrap;
        }

        .profile_image {
            width: 10vmin;
            height: 10.5vmin;
            border-radius: 50%;
            object-fit: cover;
        }

        .concept {
            font-weight: 800;
            font-size: 1.8rem;
        }
    }

    .likes-count {
        position: relative;
        bottom: 16.5vmin;
        background-color: #31282c;
        border-radius: 0 0 1.3vmin 1.3vmin;
        color: #ababab;
        height: 3vmin;
        line-height: 3vmin;
        font-size: 2.7vmin;
        padding-left: 1.8vmin;
        padding-top: 0;
        font-weight: 600;

        i {
            padding-right: 1vmin;
        }
    }
}
