.component.product_votes_list{
    /*================================================
        リストページCSS
    =================================================*/
    #main_list {
        color: #FFFFFF;
        min-height: 100vh;
        max-height: auto;
        background: rgba(0, 0, 0, 0.7);
        padding: 67px 0 37px;
        box-sizing: border-box;
    }

    .main_fashion, .main_beauty {
        font-size: 22px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #707070;
    }

    .main_list_votes {
        letter-spacing: 2px;
        margin-right: 35px;
    }

    .main_sub_list {
        height: 76px;
        color: #F4F4F4;
        font-size: 16px;
        border-bottom: 1px solid #707070;
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 27px;
        padding: 0 10px;
    }

    .main_sub_list p {
        width: 70%;
        padding: 0 0 0 10px;
    }

    @media (min-width: 500px) {  
        .main_sub_list p {
            width: 80%;
            padding: 0 0 0 10px;
        }
    }

    .main_sub_list img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #F4F4F4;
    }

    .main_sub_list span {
        font-weight: 600;
        display: block;
    }

    .list_arrow{
        width: 25px;
        height: 25px;
        border: 2px solid;
        border-color: #F4F4F4 #F4F4F4 transparent transparent;
        transform: rotate(45deg);
    }

}