.component.product{

    text-decoration: none;
    margin-top: 20px;

    .link-container {
        height: 260px;
    }

    img {
        width: 45vw;
        object-fit: fill;
        border-radius: 20px;
    }

    .product-creator {
        background-color: gray;
        opacity: 0.85;
        width: 100%;
        position: relative;
        bottom: 55px;
        padding-left: 9px;

        p {
            text-decoration: none;
            color: $white-text-color;
        }
        .owner-subject {
            font-size: 0.6rem;
        }

        .owner-name {
            font-size: 1rem;
        }

        .profile_image {
            width: 35px;
            height: 35px;
            border-radius: 50px;
            margin: 0 auto;
        }


        .concept {
            font-weight: 800;
            font-size: 1.8rem;
        }
    }

    .likes-count {
        position: relative;
        bottom: 55px;
        background-color: #31282c;
        border-radius: 0 0 20px 20px;
        color: $white-text-color;
        padding-left: 15px;
        height: 16px;
        line-height: 20px;
        font-size: 0.7rem;
    }
}
