.component.product_votes_list{
    /*================================================
        リストページCSS
    =================================================*/
    .main_list_votes {
        letter-spacing: 2px;
        margin-right: 35px;
    }

    .main_sub_list {
        height: 20vmin;
        color: #f4f4f4;
        border-bottom: 1px solid #707070;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 4vmin;
    }

    .main_sub_list p {
        width: 72%;
        padding: 0 0 0 3vmin;
        font-size: 4vmin;
        line-height: 180%;
    }

    @media (min-width: 500px) {  
        .main_sub_list p {
            width: 80%;
            padding: 0 0 0 4vmin;
        }
    }

    .main_sub_list img {
        width: 15vmin;
        height: auto;
        border-radius: 50%;
        border: 1px solid #f4f4f4;
        object-fit: cover;
    }

    .main_sub_list span {
        font-weight: 600;
        display: block;
    }

    .list_arrow{
        width: 7.5vmin;
        height: 7.5vmin;
        border: 0.4vmin solid;
        border-color: #f4f4f4 #f4f4f4 transparent transparent;
        transform: rotate(45deg);
    }

    /*================================================
        ランキングページCSS
    =================================================*/
    &.rank-list {
        counter-reset: rank;
    }

    li:before {
        counter-increment: rank;
        content: counter(rank) "位";
        font-size: 9vmin;
        position: absolute;
        padding: 3vmin 4vmin;
    }

    .rank_sub_list {
        height: 20vmin;
        color: #f4f4f4;
        border-bottom: 1px solid #707070;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 4vmin;

        img {
            width: 15vmin;
            height: auto;
            border-radius: 50%;
            border: 1px solid #f4f4f4;
            object-fit: cover;
        }
    
        span {
            font-weight: 600;
            display: block;
        }
        p {
            width: 65%;
            padding: 0 0 0 3vmin;
            font-size: 4vmin;
            line-height: 180%;
        }
    
        @media (min-width: 500px) {  
            p {
                width: 70%;
                padding: 0 0 0 4vmin;
            }
        }

    }
}