.component.product{
    display: flex;
    text-decoration: none;
    margin-top: 13px;

    .link-container {
        height: 240px;
    }

    
    .product-img {
        width: 46vw;
        object-fit: cover;
        object-position: 0% 0%;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .product-creator {
        background-color: rgba(36, 22, 30, 0.75);
        width: 100%;
        position: relative;
        bottom: 69px;
        padding: 10px 0 3px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-decoration: none;
            color: $white-text-color;
        }

        .owner-subject {
            font-size: 0.5rem;
            color: #adadad;
        }

        .owner-name {
            font-size: 1rem;
        }

        .profile_image {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0 auto 5px;
        }

        .concept {
            font-weight: 800;
            font-size: 1.8rem;
        }
    }

    .likes-count {
        position: relative;
        bottom: 69px;
        background-color: #31282c;
        border-radius: 0 0 5px 5px;
        color: $white-text-color;
        padding-left: 10px;
        height: 16px;
        line-height: 20px;
        font-size: 0.6rem;
        color: #ababab;

        i {
            padding-right: 5px;
        }
    }
}
