.component.product_votes_list{
    .main_list_votes {
        letter-spacing: 2px;
        margin-right: 35px;
    }

    .main_sub_list {
        align-items: center;
        border-bottom: 1px solid #707070;
        color: #f4f4f4;
        display: flex;
        height: 20vmin;
        justify-content: space-around;
        padding: 0 4vmin;
    }

    .main_sub_list p {
        font-size: 4vmin;
        line-height: 180%;
        padding: 0 0 0 3vmin;
        width: 72%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @media (min-width: 500px) {
        .main_sub_list p {
            padding: 0 0 0 4vmin;
            width: 80%;
        }
    }

    .main_sub_list img {
        border: 1px solid #f4f4f4;
        border-radius: 50%;
        height: 15vmin;
        object-fit: cover;
        object-position: 50% 0%;
        width: 15vmin;
    }

    .main_sub_list span {
        display: block;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .list_arrow{
        border: 0.4vmin solid;
        border-color: #f4f4f4 #f4f4f4 transparent transparent;
        height: 7.5vmin;
        transform: rotate(45deg);
        width: 7.5vmin;
    }

    /*================================================
        ランキングページCSS
    =================================================*/
    // &.rank-list {
    //     counter-reset: rank;
    // }

    // li:before {
    //     counter-increment: rank;
    //     content: counter(rank) "位";
    //     font-size: 9vmin;
    //     padding: 3vmin 0;
    // }

    .rank {
        font-size: 9vmin;
        padding: 3vmin 0;
    }

    .rank_sub_list {
        height: 20vmin;
        color: #f4f4f4;
        border-bottom: 1px solid #707070;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vmin;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        img {
            width: 18vmin;
            height: 18vmin;
            border-radius: 50%;
            border: 1px solid #f4f4f4;
            object-fit: unset;
        }

        span {
            font-weight: 600;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p {
            width: 65%;
            padding: 0 3.5vmin 0;
            font-size: 4vmin;
            line-height: 180%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        @media (min-width: 500px) {
            p {
                width: 70%;
                padding: 0 0 0 4vmin;
            }
        }

    }
}
