.screen.root {
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/images/top/top.png");

    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
            margin-bottom: 30px;
            width: 180px;
        }
    }

}
