.component.tab {
    width: 50%;
    height: 10vmin;
    font-size: 4.2vmin;
    color: $active-text-color;
    background-color: $footer-color;
    text-align: center;
    line-height: 10vmin;
    border-top: #f0f0f0 1px solid;

    .text {
        font-size: 4.5vmin;
        position: relative;
        z-index: 10;
        padding-top: 0;
    }

    &.fashion-active{
        border-top: $black 1px solid;
        background-color: $black;
        color: white;
    }

    &.beauty-active {
        border-top: $black 1px solid;
        background-color: $black;
        color: white;
    }
}
