.component.tab {
    width: 50%;
    height: 10vmin;
    font-size: 4.2vmin;
    background-color: $black;
    color: white;
    text-align: center;
    line-height: 10vmin;

    .text {
        font-size: 4.5vmin;
        position: relative;
        z-index: 10;
        padding-top: 0.3vmin;
    }

    i {
        width: 7vmin;
        height: 7vmin;
        transform: rotate(225deg);
        position: absolute;
    }

    &.fashion-active{
        background-color: $fashion;
        i {
            background-color: $fashion;
            border: 1px solid $fashion;
            z-index: 5;
            top: -2vmin;
            left: 3vmin;
        }
    }

    &.beauty-active {
        background-color: $beauty;
        i {
            background-color: $beauty;
            border: 1px solid $beauty;
            z-index: 5;
            top: -2vmin;
            right: 3vmin;
        }
    }

    .fashion {
        i {
            display: none;
        }
    }

    .beauty {
        i {
            display: none;
            right: 100px;
        }
    }
}
