.component.tab {
    width: 50%;
    height: 10vmin;
    font-size: 4.2vmin;
    background-color: $black;
    color: white;
    text-align: center;
    line-height: 10vmin;

    .text {
        font-size: 4.5vmin;
        position: relative;
        z-index: 10;
        padding-top: 0;
    }

    &.fashion-active{
        color: $active-text-color;
        background-color: $fashion;
        border-top: #F0F0F0 1px solid;
    }

    &.beauty-active {
        color: $active-text-color;
        background-color: $beauty;
        border-top: #F0F0F0 1px solid;
    }
}
