.screen {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: auto;
    .contents {
        flex-grow: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}
