.fashion-active {
    background-color: palevioletred;
    color: white;
    border: none;
}

.beauty-active {
    background-color: purple;
    color: white;
    border: none;

}

.fashion {
    background-color: black;
    color: white;
    border: none;
}

.beauty {
    background-color: black;
    color: white;
    border: none;
}
