.screen.not-found > .contents {
    background: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-title {
        color: #585858;
        h1 {
            font-weight: inherit;
            font-size: 32vmin;
            letter-spacing: 1vmin;
            margin-top: 20px;
        }
        p {
            font-size: 6vmin;
        }
    }

    .content-nav {
        color: $minor-text-color;
        margin-top: 15vmin;
        font-size: 3.3vmin;
        font-weight: 100;
    }

    .redirect-link {
        margin-top: 20vmin;
        width: 60vmin;
        line-height: 11vmin;
        border-radius: 30vmin;
        background-color: $btn-back-color;
        color: #fff;
        font-size: 4.5vmin;
    }
}
