.screen.not-found > .contents {
    background: linear-gradient($main-color, $gradation-purple-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-title {
        color: $white-text-color;
        h1 {
            font-weight: inherit;
            font-size: 32vmin;
            letter-spacing: 1vmin;
            margin-top: 20px;
        }
        p {
            font-size: 6vmin;
        }
    }

    .content-nav {
        color: $white-text-color;
        margin-top: 45px;
        font-size: 3.3vmin;
        font-weight: 100;
    }

    .redirect-link {
        margin-top: 55px;
        width: 60vmin;
        padding: 22px 0 18px;
        border-radius: 45px;
        color: $link-main-color;
        font-size: 4.5vmin;
    }
}
