.screen.product-show {
    background-image: url(#{$base-photo-url}/logos/top.png);
    background-size: cover;
    display: flex;
    margin-top: 13px;
    text-decoration: none;

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .image-container {
        width: 100vw;
        height: calc(100vw + 100px);
    }

    .product-img {
        border-radius: 5px;
        object-fit: cover;
        object-position: 0% 0%;
        overflow: hidden;
        width: 100vw;
    }

    .sub-images-container{
        overflow-y: overlay;

        .img-container {
            background-color: rgba(36, 22, 30, 0.75);
        }

        img.active {

        }

        img {
            opacity: 0.3;
            position: relative;
            padding: 10px 0 3px 10px;
        }
    }

    .product-container {
        background-color: black;
        opacity: 0.7;
    }
}
