.screen.products {

    .contents {
        margin-top: $header-height;
        margin-bottom: $footer-height;
        background: linear-gradient($main-color, $gradation-purple-color);
    }

    .product-index {
        justify-content: space-evenly;
    }

    .title {
        margin-bottom: 10px;
        font-size: 5rem;
    }

    margin: 10 auto;

    .owner {
        font-size: 2.5rem;
    }

    .concept {
        font-weight: 800;
        font-size: 1.8rem;
    }
}
