.screen.products {

    .contents {
        margin-top: $header-height;
        margin-bottom: $footer-height;
        background: $main-color;
    }

    .product-index {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: whitesmoke;
        padding: 0 2vmin 5vmin;
        background: whitesmoke;
    }

    footer {
        width: 100%;
        height: 10vmin;
        position: fixed;
        bottom: 0px;
        z-index: 10;
    }
}
