@import url("https://fonts.googleapis.com/css?family=Allura");


.screen.product-show {
    background-color: #fff;
    display: flex;
    text-decoration: none;

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .image-container {
        margin-top: 18vmin;
        width: 100vw;
    }

    .product-img {
        object-fit: cover;
        object-position: 50% 0%;
        overflow: hidden;
        width: 100vw;
        height: 65vh;
        max-height: auto;
    }

    .sub-images-container {
        overflow-y: overlay;
        width: auto;
        background-color: $white-text-color;
        
        img {
            object-fit: cover;
        }

        .img-container.cover {
            background-color: $black;
        }

        .img {
            opacity: .3;
            position: relative;
        }

        .active {
            background: whitesmoke;
            opacity: .9;
        }
    }

    .product-container {
        color: $black;
        padding: 0;

        h2 {
            font-size: 10vmin;
            margin: 7vmin auto 5vmin;
            font-family: "Allura", cursive;
            text-align: center;
            font-weight: 300;
        }

        .concept {
            padding: 0 7vmin;

            p {
                font-size: 3.8vmin;
                line-height: 180%;
            }
        }

        // TODO 複数のクリエイターのパターンの対応
        // 現状はエリア保持のためのpadding bottom
        .creators { border: #f2f2f2 1px solid; padding: 2vmin 3.2vmin; }
        .main-creator { font-size: 2.4vmin; }
        .main-creator .subject { margin: 1vmin 0; font-weight: 600; }
        .main-creator .name { margin-left: 3vmin; }

        .main-creator > .concept {
            width: 67vw;
            display: inline-block;
            padding: 0;
        }

        .main-creator > .profile-img {
            border-radius: 50%;
        }

        .owner-img {
            width: 15.5vmin;
            height: 15.5vmin;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .bottom {
        text-align: center;
    }

    .vote-button {
        background-color: $link-main-color;
        color: $white-text-color;
        font-size: 5vmin;
        width: 60vmin;
        height: 14vmin;
        margin: 8vmin 0;
        border: 0px;
        border-radius: 10vmin;
        span {
            padding: 0 2vmin;
        }
    }

    button {
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    // --------------------- modal
    .product.voted-card {
        display: flex;
        align-items: center;
        width: 95%;
        border: 1px solid #e9ecef;
        border-radius: 1vmin;
        padding: 2.4vmin;
        margin: 5vmin auto 4vmin;

        .product-thumb {
            width: 24vmin;
            height: 24vmin;
            object-fit: cover;
        }

        .right-container {
            width: 100%;
            text-align: center;
            padding: 0 1.5vmin;
            .right-container__title {
                font-size: 3vmin;
                padding: 2.3vmin 0;
            }
        }
    }

    .suggest-product-title{
        font-weight: 600;
        margin: 0 3vmin 3vmin;
    }

    .suggest-product-container {
        height: 34vmin;
        display: flex;
        flex-direction: row;
        overflow: auto;
        margin: 0 3vmin;
        
        .suggested-product {
            margin: 0 5px 10px;
            position: relative;
            width: 33vmin;
            height: 24vmin;
        }

        .short-product-thumb {
            height: 30vmin;
            width: 30vmin;
            object-fit: cover;
            border-radius: 1vmin;
        }

        .product-label {
            height: 7vmin;
            line-height: 7vmin;
            display: block;
            background-color: white;
            opacity: .85;
            text-align: center;
            width: 100%;
            margin-top: -7vmin;
        }
    }

    .vote-button-ext {
        background-color: $link-main-color;
        color: $white-text-color;
        font-size: 5vmin;
        width: 55vmin;
        height: 13vmin;
        margin: 2vmin auto 1.8vmin;
        border: 0px;
        border-radius: 10vmin;
        span {
            padding: 0 2vmin;
        }
    }

    // --------------------- re-vote
    .re-vote-button {
        background-color: #d1d1d1;
        color: #fff;
        font-size: 5vmin;
        width: 55vmin;
        height: 13vmin;
        margin: 5vmin auto 3vmin;
        border: 0px;
        border-radius: 10vmin;
        span {
            padding: 0 2vmin;
        }
    }

    @keyframes colorChange {
        0% {
            background-color: #d1d1d1;
        }
        100% {
            background-color: $link-main-color;
        }
    }

    .button-active {
        background-color: $link-main-color;
        color: $white-text-color;
        animation-name: colorChange;
        animation-duration: 0.20s;
    }

    .re-vote-text {
        padding: 3vmin;
        font-size: 3.4vmin;
    }

    .re-vote-image-list {
        width: 85vw;
        height: 39vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: auto;
        padding: 0 2.5vmin;
        margin: 2.5vmin 0 1.5vmin;
    }

    .re-vote-product-image {
        width: 37.5vmin;
        height: 37.5vmin;
        border-radius: 1vmin;
        object-fit: cover;
    }

    .non-select {
        margin: 1.2vmin 0;
    }

    .delete-image-box {
        width: 37.5vmin;
        height: 37.5vmin;
        border-radius: 1vmin;
        background: $black;
        margin: 1.2vmin 0;
    }

    .select {
        opacity: 0.25;
    }

}
