.screen.product_vote_list {

    .contents {
        color: #fff;
        min-height: 100vh;
        max-height: auto;
        background: rgba(0, 0, 0, 0.8);
        padding: 18vmin 0 0;
        box-sizing: border-box;
    }
}
