.screen.root {
    height: 100vh;
    width: 100vw;
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/f-college-images/logos/top.png");
    background-size: cover;

    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
            margin-bottom: 20px;
            width: 62px;
            height: 48.5px;
        }
        .logo {
            width: 75%;
            height: auto;
        }
    }

    .circle {
        margin: 0 auto;
        border-radius: 50%;
        width: 16vw;
        height: 16vw;
        border: 1px solid rgba(255, 255, 255, 1);
        position: absolute;
        bottom: 6vw;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .root_icon {
            width: 8vmin;
            height: 8vmin;
            border: 2px solid;
            border-color: #f4f4f4 #f4f4f4 transparent transparent;
            transform: rotate(135deg);
            margin-top: -10px;
        }
    }

}
